[user]
        email = "email@here"
        name = "Breno Martinusso"
[push]
        default = simple
[credential]
        helper = cache --timeout=2628000
[merge]
        tool = meld
[diff]
        tool = meld
[difftool]
        prompt = false
[alias]
        st = status
        co = commit
        br = branch
        ch = checkout
	chb = checkout -b
        dif = difftool
        lg = log --pretty=short
        ls = ls-files
	current-branch = rev-parse --abbrev-ref HEAD
	ps = !git push origin "$(git 	current-branch)"
	psf = !git ps --force
	re = reset --hard HEAD
	fp = fetch -p
	ro = rebase origin/main
